@*partial view for notifications on all the pages*@

@if (TempData["success"] != null)
{
	<div class="container">
		<div class="row pt-4 pb-3">
			<div class="col-6">
				<div class="alert alert-success" role="alert"> @TempData["success"] </div>
			</div>
		</div>
	</div>
}

@if (TempData["error"] != null)
{
	<div class="container">
		<div class="row pt-4 pb-3">
			<div class="col-6">
				<div class="alert alert-danger" role="alert"> @TempData["error"] </div>
			</div>
		</div>
	</div>
}
